# $USER/.config/systemd/magnipy@.service
[Unit]
Description=Magnipy for camera %i

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/path/to/install/dir/magnipy/run.sh %i

[Install]
WantedBy=default.target
